ha-nr-mycovidstats.json
[{"id":"d2fc33f9.741c4","type":"group","z":"c8694ea1.9678f","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b600cf58.479fc","88fc73e4.7447f","c47b25f5.4a9108","bd94e9e2.699e18","bb320186.00b09","b16a856f.e77258","714934f6.b220fc","71b4c963.bc7d18","6b48b4d7.ff498c","c1ecc3b6.5f7a","d75380fc.17f27","f9c50dd8.44eb3","e783227d.8f8bc","a82f284c.be9018"],"x":-6,"y":619,"w":1272,"h":362},{"id":"b600cf58.479fc","type":"csv","z":"c8694ea1.9678f","g":"d2fc33f9.741c4","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":675,"y":780,"wires":[["88fc73e4.7447f"]],"l":false},{"id":"88fc73e4.7447f","type":"function","z":"c8694ea1.9678f","g":"d2fc33f9.741c4","name":"Get Last Row","func":"let latestdate = msg.payload.pop()\nmsg.payload = latestdate;\nreturn msg;\n\n//anasothman-myy, 6/6/2021 1000","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":780,"wires":[["c47b25f5.4a9108","bd94e9e2.699e18","bb320186.00b09","b16a856f.e77258","d75380fc.17f27","a82f284c.be9018"]]},{"id":"c47b25f5.4a9108","type":"ha-entity","z":"c8694ea1.9678f","g":"d2fc33f9.741c4","name":"COVID19 Malaysia Daily Stats","server":"71b7c783.42e358","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"covid19_malaysia_daily_stats"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:virus"},{"property":"unit_of_measurement","value":""}],"state":"payload.date","stateType":"msg","attributes":[{"property":"Date","value":"payload.date","valueType":"msg"},{"property":"Location","value":"payload.location","valueType":"msg"},{"property":"New Cases","value":"payload.new_cases","valueType":"msg"},{"property":"New Death","value":"payload.new_deaths","valueType":"msg"},{"property":"Total Case","value":"payload.total_cases","valueType":"msg"},{"property":"Total Death","value":"payload.total_deaths","valueType":"msg"},{"property":"Recover","value":"payload.recover","valueType":"msg"},{"property":"Total Recovered","value":"payload.total_recover","valueType":"msg"},{"property":"ICU","value":"payload.icu","valueType":"msg"},{"property":"Support","value":"payload.support","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1110,"y":700,"wires":[[]]},{"id":"bd94e9e2.699e18","type":"ha-entity","z":"c8694ea1.9678f","g":"d2fc33f9.741c4","name":"COVID19 Kes Baharu","server":"71b7c783.42e358","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Kes Baharu"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:account-multiple-plus-outline"},{"property":"unit_of_measurement","value":"cases"}],"state":"payload.new_cases","stateType":"msg","attributes":[{"property":"Date","value":"payload.date","valueType":"msg"},{"property":"Jumlah Kes","value":"payload.total_cases","valueType":"msg"},{"property":"Kes ICU","value":"payload.icu","valueType":"msg"},{"property":"Bantuan Pernafasan","value":"payload.support","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1080,"y":760,"wires":[[]]},{"id":"bb320186.00b09","type":"ha-entity","z":"c8694ea1.9678f","g":"d2fc33f9.741c4","name":"COVID19 Kes Kematian","server":"71b7c783.42e358","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Kes Kematian"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:emoticon-dead"},{"property":"unit_of_measurement","value":"cases"}],"state":"payload.new_deaths","stateType":"msg","attributes":[{"property":"Date","value":"payload.date","valueType":"msg"},{"property":"Jumlah Kes Kematian","value":"payload.total_deaths","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1090,"y":820,"wires":[[]]},{"id":"b16a856f.e77258","type":"ha-entity","z":"c8694ea1.9678f","g":"d2fc33f9.741c4","name":"COVID19 Kes Sembuh","server":"71b7c783.42e358","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Kes Sembuh"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:medical-bag"},{"property":"unit_of_measurement","value":"cases"}],"state":"payload.recover","stateType":"msg","attributes":[{"property":"Date","value":"payload.date","valueType":"msg"},{"property":"Jumlah Kes Sembuh","value":"payload.total_recover","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1090,"y":880,"wires":[[]]},{"id":"714934f6.b220fc","type":"http request","z":"c8694ea1.9678f","g":"d2fc33f9.741c4","name":"Github Malaysia COVID Stats","method":"GET","ret":"txt","paytoqs":"query","url":"https://raw.githubusercontent.com/wnarifin/covid-19-malaysia/master/covid-19_my.csv","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":780,"wires":[["b600cf58.479fc"]]},{"id":"71b4c963.bc7d18","type":"telegram command","z":"c8694ea1.9678f","g":"d2fc33f9.741c4","name":"/getcovidstats","command":"/getcovidstats","bot":"","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":110,"y":880,"wires":[["e783227d.8f8bc"],[]]},{"id":"6b48b4d7.ff498c","type":"template","z":"c8694ea1.9678f","g":"d2fc33f9.741c4","name":"Telegram Text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Statistic COVID-19 Malaysia bagi tarikh: {{ payload.date }}.\n\nKes Baharu: {{ payload.new_cases }}.\nJumlah Kes: {{ payload.total_cases }}.\nICU: {{ payload.icu }}.\nBantuan Pernafasan: {{ payload.support }}.\n\nKes Sembuh: {{ payload.recover }}.\nJumlah Kes Sembuh: {{ payload.total_recover }}.\n\nKes Kematian: {{ payload.new_deaths }}.\nJumlah Kes Kematian: {{ payload.total_deaths }}.\n\nKemaskini sejak {{ headers.date }}\n\n\n\n","output":"str","x":1100,"y":940,"wires":[["c1ecc3b6.5f7a"]]},{"id":"c1ecc3b6.5f7a","type":"link out","z":"c8694ea1.9678f","g":"d2fc33f9.741c4","name":"T-Covid","links":["8718a1dd.5beb7"],"x":1215,"y":940,"wires":[],"icon":"node-red-contrib-telegrambot/telegram.png"},{"id":"d75380fc.17f27","type":"debug","z":"c8694ea1.9678f","g":"d2fc33f9.741c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1030,"y":660,"wires":[]},{"id":"f9c50dd8.44eb3","type":"inject","z":"c8694ea1.9678f","g":"d2fc33f9.741c4","name":"Initial Get, then update every 12 hours","props":[],"repeat":"43200","crontab":"","once":true,"onceDelay":"0.1","topic":"","x":200,"y":700,"wires":[["714934f6.b220fc"]]},{"id":"e783227d.8f8bc","type":"change","z":"c8694ea1.9678f","g":"d2fc33f9.741c4","name":"Telegram flag","rules":[{"t":"set","p":"telegramrequest","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":880,"wires":[["714934f6.b220fc"]]},{"id":"a82f284c.be9018","type":"switch","z":"c8694ea1.9678f","g":"d2fc33f9.741c4","name":"","property":"telegramrequest","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":940,"wires":[["6b48b4d7.ff498c"]]},{"id":"71b7c783.42e358","type":"server","name":"Home Assistant","version":1,"legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"","type":"telegram bot","botname":"YOURBOTNAME","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]