telegram_output.json
[{"id":"6d07cd17.ae6954","type":"group","z":"95d534f4.c3bf48","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b340e297.11a6","da29f5c6.6bccc8","8718a1dd.5beb7"],"x":424,"y":159,"w":692,"h":82},{"id":"b340e297.11a6","type":"function","z":"95d534f4.c3bf48","g":"6d07cd17.ae6954","name":"Creating message","func":"msg.payload = {\n chatId: 'CHATIDHERE',\n type: 'message',\n content: msg.payload\n}\nmsg.payload.options = {parse_mode : \"Markdown\"};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":200,"wires":[["da29f5c6.6bccc8"]]},{"id":"da29f5c6.6bccc8","type":"telegram sender","z":"95d534f4.c3bf48","g":"6d07cd17.ae6954","name":"Send Message","bot":"22198f30.a21db","haserroroutput":false,"outputs":1,"x":1010,"y":200,"wires":[[]]},{"id":"8718a1dd.5beb7","type":"link in","z":"95d534f4.c3bf48","g":"6d07cd17.ae6954","name":"TelegramP1/message","links":["1e728149.1a3d9f","6207f8c8.4c3138","c1ecc3b6.5f7a","cdc3643e.25f498","cae18fa1.d1e76","4002d28e.02073c","2902516.c1262ae"],"x":550,"y":200,"wires":[["b340e297.11a6"]],"icon":"node-red-contrib-telegrambot/telegram_cmd.png","l":true},{"id":"22198f30.a21db","type":"telegram bot","botname":"YOURBOTNAMEHERE","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]